---
import type { GetStaticPaths } from "astro";
import Pagination from "@/components/common/Pagination.astro";
import HomeArticleList from "@/components/pages/home/HomeArticleList.astro";
import HomeCategoryGrid from "@/components/pages/home/HomeCategoryGrid.astro";
import HomeFeatured from "@/components/pages/home/HomeFeatured.astro";
import HomeHero from "@/components/pages/home/HomeHero.astro";
import { siteConfig } from "@/config";
import HomeLayout from "@/layouts/HomeLayout.astro";
import { getCategoryList, getSortedPosts } from "@/utils/content-utils";
import { getFeaturedPost } from "@/utils/home-utils";

export const getStaticPaths = (async ({ paginate }) => {
	const allBlogPosts = await getSortedPosts();
	const pageSize = siteConfig.pagination.postsPerPage;
	return paginate(allBlogPosts, { pageSize });
}) satisfies GetStaticPaths;

const { page } = Astro.props;

const featuredPost = await getFeaturedPost();
const categories = await getCategoryList();
const len = page.data.length;
---

<HomeLayout title={siteConfig.title} description={siteConfig.subtitle}>
	<HomeHero />
	{featuredPost && <HomeFeatured post={featuredPost} />}
	<HomeArticleList posts={page.data} totalCount={page.total} />
	{page.total > page.size && (
		<div class="pagination-container">
			<Pagination
				class="mx-auto onload-animation"
				page={page}
				style={`animation-delay: calc(var(--content-delay) + ${len * 50}ms)`}
			/>
		</div>
	)}
	<HomeCategoryGrid categories={categories} />
</HomeLayout>
